* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 237, 237);
    display: flex;
}

nav {
    height: 100vh;
    width: 25rem;
    background-color: rgb(225, 153, 165);
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}

ul {
    list-style: none;
}

li {
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 4rem 40px;
    grid-template-rows: 3rem;
}

li:hover {
    cursor: pointer;
}

input {
    border-radius: 5px;
    border: grey solid 0.5px;
    font-size: 1.5rem;
    width: 100%;
}

.navGroup {
    margin: 2rem;
}

#dashNav {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin: 3rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

#topBar {
    border: red solid 1px;
    display: grid;
    width: calc(100vw - 25rem - 1px);
    grid-template-columns: 50% 50%;
    grid-template-rows: 5rem 5rem;
}

#searchBlock {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

